@model PersonMasterDetail.Models.PersonViewModel

@{
    ViewBag.Title = "Person";
}

<h1>Single Person</h1>
<h2>Id: @Model.Person.Id</h2>
<h2>First Name: @Model.Person.FirstName</h2>
<h2>Last Name: @Model.Person.LastName</h2>
<h2>Age: @Model.Person.Age</h2>
